
.upload-container {
    margin-bottom: 20px;
}

.upload-label {
    background-color: #007BFF; /* Color principal para el botón */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    margin-right: 10px;
}

.upload-label:hover {
    background-color: #0056b3; /* Un tono más oscuro al hacer hover */
}

/* Ocultamos el input de tipo file visualmente */
#file-upload {
    display: none;
}

.preview-container {
    margin-top: 20px;
}

.preview-image {
    max-width: 100%;
    height: auto;
}